.barra-menu {
	height: 40px;
	width: 100%;
	background-color: #EDEDED;
	border-bottom: 1px solid #0095DA;
	display: inline-flex;
	position: fixed;
	z-index: 999;
}

.box-menu {
    padding: 0.6%;
    font-size: 14px;
}

.box-menu:hover {
	cursor: pointer;
	color: #0095DA;
	border-bottom:3px solid #0095DA;
}
.box-menu.drag-js:hover {
    cursor: move !important;
}

.box-materias {
	width: 200px;
	height: 100%;
	border-right: 1px solid #0095DA;
}
.box-materias:hover {
	cursor: pointer;
}
.box-materias .box-name{
    float: left;
    text-align: center;
    width: 80%;
    padding: 4%;
}

.pesquisa-materias {
	height: 100%;
    width: 20%;
	background-color: #0095DA;
	float: right;
    padding: 8px;
    display: block;
}
.pesquisa-materias .glyphicon {
	font-size: 22px;
	color: #FFF;
}

.input-pesquisa {
	width: 100%;
	display: none;
}
.input-pesquisa input {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
}

.materia {
    border: 1px solid #0095DA;
    height: 100px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}
.materia:hover {
    border: 1px dashed #0095DA;
    cursor: move;
}

/*---------------------------------------*/
/*                                       */
/*   BARRA DO SUB MENU, MENU DA COLUNA   */
/*                                       */
/*---------------------------------------*/
.submenu-open {
    background-color: #FFF5EE;
}
.barra-sub-menu {
	width: 100%;
	height: 30px;
	background-color: #0095DA;
	display: none;
	position: fixed;
	margin-top: 40px;
    z-index: 999;
    box-shadow: 0px 2px 2px #888;
}

.sub-menu {
    display: inline-flex;
}

.box-submenu {
    padding: 3px 5px;
    min-width: 40px;
    text-align: center;
    color: #FFF;
}
.box-submenu:hover {
    border-bottom: 3px solid #EDEDED;
    background-color: #00BFFF;
    cursor:  pointer;
}

.box-submenu .glyphicon {
    font-size: 20px;
    color: #FFF;
}

.glyphicon-remove-circle:hover {
    color: red;
}

/*------------------------------------*/
/*                                    */
/*    DROPDOWN`S BARRA DO SUB MENU    */
/*                                    */
/*------------------------------------*/
.drop-submenu {
    z-index: 999;
    border-top: 4px solid #EDEDED;
    position: absolute;
    /* min-height: 50px; */
    min-width: 100px;
    background-color: #0095DA;
    display: none;
    padding-bottom: 10px;
}

.op-drop {
    min-height: 40px;
    margin: 2px 5px;
    padding: 5px;
    display: flex;
}

.op-drop:hover {
    background-color: #00BFFF;
    cursor:  pointer;
}

/*------------------------------------*/
/*                                    */
/*         DROPDOWN DAS BORDAS        */
/*                                    */
/*------------------------------------*/
.linha-topo {
    border-top: 5px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 30px;
    width: 30px;
}
.linha-direita {
    border-top: 1px solid #FFF;
    border-right: 5px solid #FFF;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 30px;
    width: 30px;
}
.linha-baixo {
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-bottom: 5px solid #FFF;
    height: 30px;
    width: 30px;
}
.linha-esquerda {
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 5px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 30px;
    width: 30px;
}

.op-drop span {
    margin-left: 10px;
}

/*------------------------------------*/
/*                                    */
/*   DROPDOWN DA POSICAO DA IMAGEM    */
/*                                    */
/*------------------------------------*/
.moldura-box {
    border: 1px solid #FFF;
    padding: 3px;
    margin-left: 16px;
    width: 50px;
}
.moldura-box span {
    margin: 0 !important;
    font-size: 16px !important;
}




.box-color {
    display: none;
}
.btn-color span {
    font-size: 12px !important;
    margin: 0 !important;
}


/*--------------------------------------------*/
/*                                            */
/*  CONFIG DO ITEM DA MODAL DE REDES SOCIAIS  */
/*                                            */
/*--------------------------------------------*/
.op-redes-social {
    margin-bottom: 10px;
}
.rede-social{
    display: none;
    margin-bottom: 10px;
}
.icon-social {
    cursor: pointer;
    opacity: 0.5;
}
.icon-social:hover {
    opacity: 1;
}
























.column-default {
    padding: 0px;
}

.line-grid {
    border: 1px dashed #C0C0C0;
    min-height: 60px;
    margin: 10px 5px 10px 5px;
    padding-bottom: 20px;
}

.column-grid {
    min-height: 90px;
    border: 1px solid #66CDAA;
    margin: 5px;
    padding: 2px;
    display: block;
}
.config{
    position: absolute;
    border-radius: 15px;
    padding-top: 3px;
    display:none
}
.column-grid:hover .config{display: block;}