.box-img {
    width: 100%;
}
.box-img-crop {
    overflow: hidden;
    width: 100%;
/*     border: 2px solid #000; */
}

img.img-materia {
    position: relative;
}

.cut-img {
/*     position: absolute;
    z-index: 999;
    font-size: 54px;
    margin: 10px;
    color: white;
    display: none; */
    position: absolute;
    z-index: 999;
    font-size: 12px;
    margin: 10px 50px;
    color: white;
    display: none;
    background-color: #0095DA;
    border-radius: 32px;
    padding: 9px;
}
.cut-img:hover {
    display: block;
    cursor: pointer;
}

.ctrl-height {
    height: 10px;
    width: 100%;
    position: relative;
    background-color: gray;
    border-radius: 0 0 10px 10px;
    cursor: n-resize;
    display: none;
    bottom: 0;
}

.color-red {
    color: red !important;
}